name: AIB - Create Image
# Manually run the workflow
on: workflow_dispatch
# Automatically run the workflow after a push
#on: push

env:
  AIB_IMAGE_VERSION: 0.1.${{GITHUB.RUN_NUMBER}}     # Using the workflow run number for versioning
  SIG_IMAGE_DEF_NAME: win10-evd-19h2                # image definition name in the Shared Image Gallery

jobs:
  build:
    name: AIB - New image for SIG
    runs-on: windows-latest
    steps:
    ## Checkout your GitHub Workspace
    - name: Checkout
      uses: actions/checkout@v2
    
    # Authentication: log on to Azure with the AZURE_CREDENTIALS secret
    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        enable-AzPSSession: true 
    
    # Azure Image Builder: Create Image VM
    - name: Create Azure Image Builder Image
      id: imageBuilder
      uses: azure/build-vm-image@v0
      with:
        location: 'westeurope'
        resource-group-name: 'rg-wvd-images'
        managed-identity: ${{secrets.AZURE_AIB_IDENTITY}}
        source-os-type: 'windows'
        source-image-type: 'platformImage'
        source-image: 'MicrosoftWindowsDesktop:office-365:19h2-evd-o365pp:latest'
        customizer-source: '${{GITHUB.WORKSPACE}}\AIBCustomizations'
        customizer-script: |
          & '${{GITHUB.WORKSPACE}}\AIBCustomizations\Customize-WVDImage.ps1'
        dist-type: 'SharedImageGallery'
        dist-resource-id: '/subscriptions/${{secrets.AZURE_SUBSCRIPTIONID}}/resourceGroups/rg-wvd-images/providers/Microsoft.Compute/galleries/sigWVDImages/images/${{env.SIG_IMAGE_DEF_NAME}}/versions/${{env.AIB_IMAGE_VERSION}}'
        dist-location: 'westeurope'

